*{
    display:0%;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
}


body{
    background-color: rgb(222, 186, 206);
}
.menu{
    display: flex;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    
    background-color: rgb(186, 148, 209);
    text-decoration: none;
}
.menu>ul{
    text-decoration: none;
    border: 1px solid salmon;
}
.menu>li{
    padding: 20px;
    
    color: aliceblue;
}

section{
    display: flex;
    flex-direction: column;
    
}

article{
    
    border: 1px solid black;
    margin-inline: 5px;
    padding: 10px;
}
.texto{
    text-align: justify;
}

button{
    background-color: rgb(186, 148, 209);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;

    
    
}
.contenido{
    display: flex;
    width: 900px;
}
div.galeria img {
    float: left;
    padding: 20px;
    margin: 0 auto;
}

h1{
font-style: oblique;
font-size: xx-large;
text-decoration: underline;
}

h2{
    font-style: oblique;
    font-size: x-large;
    text-decoration: underline;
}

p.texto{
color: black;

}

footer{
    background-color: rgb(127, 102, 157);
    margin: 30px;
}
a:link{
    color: blue;
}

a:visited{
    color: aqua;
}
a:hover{
    color: aquamarine;
}

a:active{
    color: brown;
}