*{
    display: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: aquamarine;
}
.menu{
    display: flex;
}

.menu>li{
    padding: 16px;
}

.texto{
    text-align: justify;
}

div.galeria img {
    float: left;
    padding: 20px;
    margin: 0 auto;
}
