*{
    display: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: rgb(222, 186, 206);
}

.menu{
    background-color: rgb(186, 148, 209);
    display: flex;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-decoration: none;
}

.menu>li{
    padding: 16px;
}


.imagenJazz{
   height: 50px;
   width: 50px;
   overflow: hidden;
      
}
.texto{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

embed{
    width:"560";
    height:"315";
    
}
